<h1>About Us</h1>

<p>
About Us

    RPMovie provides an outlet for students, lecturers and members of the public to watch the latest up and coming movies at a affordable price.
    Sign up TODAY to see what movies we will be screening in the near future! Hope to see you there! 
</p>